# Stores the exact state of the project
/.yarn/install-state.gz
# Production build
/dist/
# Dependencies
/node_modules/
# Files inside this directory will be generated on build
/src/__generated__/
# Contains variables related to the local development
.env.development
