.body {
  height: 100vh;
  overflow: hidden;
  animation: gradient 15s ease infinite;

  @mixin dark {
    color: var(--mantine-color-white);
    background: linear-gradient(-45deg, #151515, #212121, var(--mantine-color-primary-9));
    background-size: 400% 400%;
  }

  @mixin light {
    background: linear-gradient(-45deg, #fafafa, #f5f5f5, var(--mantine-color-primary-2));
    background-size: 400% 400%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.tabsList {
  flex-wrap: nowrap;

  :hover {
    background: #35353555;
  }
}

.tab {
  height: var(--mantine-tab-height);
  font-size: var(--mantine-h5-font-size);

  :hover {
    background: transparent;
  }
}
