.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBar {
  background-color: #151515;
  padding: 10px 3px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  color: white;
}

.AppBar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AppBar-left {
  display: flex;
  align-items: center;
}

.AppBar-logo {
  height: 1.8rem;
  margin: 3px 12px;
}

.AppBar-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

.AppBar-shutdown {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  color: #FF3B6A;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 1.8rem;
  margin: 3px 15px;
}

.AppBar-shutdown:hover {
  background: #303030;
}
